/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

/* Header */
header {
    background: #028A0F;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 28px;
}

header p {
    font-size: 18px;
}

/* Hero Section */
.hero {
    background: url('images/background.jpg') no-repeat center center/cover
    margin-top: 1000px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.hero h2, .hero p {
    margin-bottom: 10px;
}

/* Speaker Section */
.speaker {
    background: white;
    padding: 30px;
}

.speaker h2 {
    font-size: 24px;
    color: #028A0F;
    margin-bottom: 15px;
}

.speaker img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #028A0F;
    object-fit: cover;
}

.speaker h3 {
    font-size: 22px;
    color: #333;
    margin-top: 10px;
}

.speaker p {
    font-size: 18px;
    color: #555;
}

/* Footer */
footer {
    background: #028A0F;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
